### Stock Data preparation

#### Trial

In [2]:
import pandas as pd
import numpy as np

In [143]:
data = pd.read_csv("stock_price_original/000001.csv")

In [144]:
data.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'amount', 'close', 'code', 'date', 'high',
       'low', 'open', 'vol', '1_day_return', '1_week_return', '1_month_return',
       '1_day_sd', '1_day_sharp', '1_week_sharp', '1_month_sharp'],
      dtype='object')

In [145]:
data["close"][0:0+200]

0      27.80
1      29.05
2      29.30
3      28.00
4      28.45
       ...
195    44.35
196    43.90
197    42.80
198    43.00
199    42.15
Name: close, Length: 200, dtype: float64

In [133]:
data["1_day_return"] = np.log(data['close'])-np.log(data['close'].shift(1))
data["1_day_return"] = data["1_day_return"].shift(-1)
data["1_week_return"] = np.log(data['close'])-np.log(data['close'].shift(5))
data["1_week_return"] = data["1_week_return"].shift(-5)
data["1_month_return"] = np.log(data['close'])-np.log(data['close'].shift(22))
data["1_month_return"] = data["1_month_return"].shift(-22)
data["1_day_sd"] = np.zeros
for row in range(len(data)):
    data["1_day_sd"][row] = np.std(a = data['close'][row:row+250], ddof=1)/((250)**(1/2))
    if data["1_day_sd"][row]==0:
        data["1_day_sd"][row]=data["1_day_sd"][row-1]
        
data["1_day_sharp"] = data["1_day_return"]/data["1_day_sd"]
data["1_week_sharp"] = data["1_week_return"]/(data["1_day_sd"]*(5)**(1/2))
data["1_month_sharp"] = data["1_month_return"]/(data["1_day_sd"]*(22)**(1/2))

<ipython-input-133-a82c446c8eb1>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["1_day_sd"][row] = np.std(a = data['close'][row:row+250], ddof=1)/((250)**(1/2))
<ipython-input-133-a82c446c8eb1>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["1_day_sd"][row]=data["1_day_sd"][row-1]

In [134]:
data.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'amount', 'close', 'code', 'date', 'high',
       'low', 'open', 'vol', '1_day_return', '1_week_return', '1_month_return',
       '1_day_sd', '1_day_sharp', '1_week_sharp', '1_month_sharp'],
      dtype='object')

In [135]:
data.head()

,Unnamed: 0,Unnamed: 0.1,amount,close,code,date,high,low,open,vol,1_day_return,1_week_return,1_month_return,1_day_sd,1_day_sharp,1_week_sharp,1_month_sharp
0,0,0,7629150.0,14.05,18,1992-06-16,16.00,14.0,14.50,5430.0,0.190591,0.148543,0.301817,0.180479,1.05603,0.368077,0.356537
1,1,1,10429500.0,17.00,18,1992-06-17,17.00,13.0,14.00,6135.0,0.028988,-0.045120,0.152469,0.18145,0.159755,-0.111207,0.179148
2,2,2,16721250.0,17.50,18,1992-06-18,18.50,17.1,17.15,9555.0,-0.034887,-0.067973,0.103072,0.182472,-0.191193,-0.166593,0.12043
3,3,3,6658600.0,16.90,18,1992-06-19,17.65,16.0,17.65,3940.0,-0.054725,-0.005935,0.122375,0.182946,-0.299131,-0.0145075,0.142612
4,4,4,5600000.0,16.00,18,1992-06-22,17.00,15.5,17.00,3500.0,0.018576,0.153257,0.192684,0.183582,0.101188,0.373341,0.223771

In [136]:
data.to_csv("stock_price_original/000001.csv")

#### Efficient frontier

In [3]:
from os import listdir
from os.path import isfile, join
onlyfiles = [f for f in listdir("stock_price_original") if isfile(join("stock_price_original", f))]

In [4]:
market = pd.DataFrame()
for f in onlyfiles:
    data = pd.read_csv("stock_price_original/"+f)
    market[f] = data["1_day_return"]

In [5]:
market.head()

,000001.csv,000002.csv,000004.csv,000005.csv,000006.csv,000007.csv,000008.csv,000009.csv,000010.csv,000011.csv,...,688579.csv,688580.csv,688586.csv,688588.csv,688589.csv,688596.csv,688598.csv,688599.csv,688600.csv,688981.csv
0,0.043982,0.092115,0.106295,-0.004914,0.016742,0.022381,-0.151330,0.114663,-0.100009,0.035718,...,-0.174669,-0.048100,0.211981,-0.023406,0.066536,0.014993,0.055819,0.024111,-0.009516,-0.073292
1,0.008569,-0.032523,0.000000,0.024332,0.005096,-0.081721,0.011205,-0.008368,-0.193371,0.013072,...,0.062664,-0.031446,-0.068864,0.170822,-0.177011,-0.106022,-0.042492,0.020214,0.037532,0.027013
2,-0.045383,0.000000,-0.008439,-0.024332,0.015133,0.044831,0.032880,-0.038549,-0.064920,-0.004338,...,-0.018692,-0.102665,-0.010578,-0.042246,-0.101132,0.057232,-0.057510,-0.097425,-0.013910,-0.006844
3,0.015944,0.004124,-0.017094,-0.045348,0.035652,-0.002090,-0.019048,0.021599,0.016129,0.000000,...,0.043927,0.051548,-0.014206,0.065236,-0.023720,-0.105361,0.011429,0.004890,0.021465,0.011884
4,0.027731,0.020367,0.025533,-0.031416,0.023867,-0.023281,0.043017,0.025318,0.024693,0.000000,...,-0.069922,0.078380,0.010292,-0.088255,0.034136,-0.040388,-0.116789,-0.025318,0.001612,-0.009978

In [6]:
portfolio_return=[]
portfolio_risk=[]
portfolio_sharp=[]
w=[]

In [ ]:
weights=np.random.random(4014)
weights=weights/weights.sum()
w.append(weights)
portfolio_return.append(np.sum(weights*market.mean()*250 ))
portfolio_risk.append((np.dot(weights.T,np.dot(market.cov()*250,weights)))**0.5)
portfolio_sharp.append((np.sum(weights*market.mean()*250 ))/((np.dot(weights.T,np.dot(market.cov()*250,weights)))**0.5))

In [ ]:
portfolio_return=[]
portfolio_risk=[]
portfolio_sharp=[]
w=[]
for n in range(3000):
    weights=np.random.random(4014)
    weights=weights/weights.sum()
    w.append(weights)
    portfolio_return.append(np.sum(weights*market.mean()*250 ))
    portfolio_risk.append((np.dot(weights.T,np.dot(market.cov()*250,weights)))**0.5)
    portfolio_sharp.append((np.sum(weights*market.mean()*250 ))/((np.dot(weights.T,np.dot(market.cov()*250,weights)))**0.5))

In [ ]:
frontier=pd.DataFrame()
frontier["Return"]=portfolio_return
frontier["Risk"]=portfolio_risk
frontier.describe()

In [ ]:
frontier.plot(x="Risk",y="Return",kind="scatter",figsize=(10,10))
plt.xlabel("Expected Volatility")
plt.ylabel("Expected Return")

In [ ]:
np.where(np.array( portfolio_sharp)==np.array( portfolio_sharp).max())

In [ ]:
print(portfolio_return[13717])
print(portfolio_risk[13717])

In [ ]:
w[13717]

#### Apply to all data

In [137]:
from os import listdir
from os.path import isfile, join
onlyfiles = [f for f in listdir("stock_price_original") if isfile(join("stock_price_original", f))]

In [138]:
for f in onlyfiles:
    data = pd.read_csv("stock_price_original/"+f)
#     data["1_day_return"] = np.log(data['close'])-np.log(data['close'].shift(1))
#     data["1_day_return"]=data["1_day_return"].shift(-1)
#     data["1_week_return"] = np.log(data['close'])-np.log(data['close'].shift(5))
#     data["1_week_return"]=data["1_week_return"].shift(-5)
#     data["1_month_return"] = np.log(data['close'])-np.log(data['close'].shift(22))
#     data["1_month_return"]=data["1_month_return"].shift(-22)
    data["1_day_return"] = np.log(data['close'])-np.log(data['close'].shift(1))
    data["1_day_return"] = data["1_day_return"].shift(-1)
    data["1_week_return"] = np.log(data['close'])-np.log(data['close'].shift(5))
    data["1_week_return"] = data["1_week_return"].shift(-5)
    data["1_month_return"] = np.log(data['close'])-np.log(data['close'].shift(22))
    data["1_month_return"] = data["1_month_return"].shift(-22)
    data["1_day_sd"] = np.zeros
    for row in range(len(data)):
        data["1_day_sd"][row] = np.std(a = data['close'][row:row+250], ddof=1)/((250)**(1/2))
        if data["1_day_sd"][row]==0:
            data["1_day_sd"][row]=data["1_day_sd"][row-1]

    data["1_day_sharp"] = data["1_day_return"]/data["1_day_sd"]
    data["1_week_sharp"] = data["1_week_return"]/(data["1_day_sd"]*(5)**(1/2))
    data["1_month_sharp"] = data["1_month_return"]/(data["1_day_sd"]*(22)**(1/2))
    data.to_csv("stock_price_original/"+f)

<ipython-input-138-05316baf8192>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["1_day_sd"][row] = np.std(a = data['close'][row:row+250], ddof=1)/((250)**(1/2))
<ipython-input-138-05316baf8192>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["1_day_sd"][row]=data["1_day_sd"][row-1]

#### Delete all work

In [ ]:
del data['1_day_return']
del data['1_week_return']
del data['1_month_return']

In [139]:
data.head()

,Unnamed: 0,amount,close,code,date,high,low,open,vol,1_day_return,1_week_return,1_month_return,1_day_sd,1_day_sharp,1_week_sharp,1_month_sharp
0,0,4.796717e+10,82.92,688981,2020-07-16,95.00,80.00,95.00,5521038.0,-0.073292,-0.051217,-0.086880,0.371265,-0.197412,-0.0616945,-0.0498912
1,1,1.738815e+10,77.06,688981,2020-07-17,84.90,75.00,79.00,2194715.0,0.027013,-0.068613,-0.036743,0.365181,0.0739717,-0.0840257,-0.0214511
2,2,1.700523e+10,79.17,688981,2020-07-20,80.51,70.02,77.19,2285833.0,-0.006844,-0.111456,-0.097156,0.369193,-0.0185381,-0.13501,-0.0561055
3,3,1.297766e+10,78.63,688981,2020-07-21,82.89,77.77,78.30,1618732.0,0.011884,-0.080340,-0.086699,0.370505,0.0320747,-0.0969728,-0.0498896
4,4,1.068249e+10,79.57,688981,2020-07-22,81.78,77.20,77.80,1339427.0,-0.009978,-0.058216,-0.101778,0.372547,-0.0267832,-0.0698839,-0.0582455